{{#let @form as |form|}}
  <form.element
    @label={{t "create.options.dates.label"}}
    @property="options"
    data-test-form-element-for="days"
    as |el|
  >
    <div
      class="
        form-control
        cr-h-auto
        cr-pr-validation
        {{if (eq el.validation "error") "is-invalid"}}
        {{if (eq el.validation "success") "is-valid"}}
      "
    >
      <div class="row">
        <div class="col-12 col-md-6">
          <InlineDatepicker
            @center={{this.calendarCenter}}
            @selectedDays={{this.selectedDays}}
            @onCenterChange={{action (mut this.calendarCenter) value="moment"}}
            @onSelect={{action "daysSelected"}}
          />
        </div>
        <div class="col-md-6 cr-hide-on-mobile">
          <InlineDatepicker
            @center={{this.calendarCenterNext}}
            @selectedDays={{this.selectedDays}}
            @onCenterChange={{action (mut this.calendarCenter) value="moment"}}
            @onSelect={{action "daysSelected"}}
          />
        </div>
      </div>
    </div>
  </form.element>
{{/let}}