<div class="cr-form-wrapper box">
  <BsForm
    @formLayout="horizontal"
    @model={{this}}
    @onInvalid={{scroll-first-invalid-element-into-view-port}}
    @onSubmit={{action "submit"}}
    novalidate
    as |form|
  >
    {{#if this.isMakeAPoll}}
      <CreateOptionsText @options={{this.options}} @form={{form}} />
    {{else}}
      <CreateOptionsDates @options={{this.options}} @form={{form}} />
    {{/if}}

    <div class="row cr-steps-bottom-nav">
      <div class="col-6 col-md-8 order-12">
        <NextButton />
      </div>
      <div class="col-6 col-md-4 order-1 text-right">
        <BackButton @onClick={{action "previousPage"}} />
      </div>
    </div>
  </BsForm>
</div>
