<div class="box">
  {{#fm-form
    action='submit'
  }}
    {{#if isMakeAPoll}}
      {{create-options-text
        options=options
        addOption='addOption'
        deleteOption='deleteOption'
        submit='submit'
      }}
    {{else}}
      {{create-options-dates
        options=options
        submit='submit'
      }}
    {{/if}}

    {{#if shouldShowErrors}}
      {{#if validations.message}}
      <div class="row">
        <div class="col-sm-10 col-sm-offset-2">
          <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">{{t 'error'}}:</span>
            {{validations.message}}
          </div>
        </div>
      </div>
      {{/if}}
    {{/if}}

    {{#fm-submit
      inputWrapperClass='col-sm-10 col-sm-offset-2'
    }}
      {{t 'create.next'}}
    {{/fm-submit}}
  {{/fm-form}}
</div>
