<div class="box">
  {{#bs-form
    action='submit'
    formLayout='horizontal'
    model=this
    novalidate=true
  }}
    {{#if isMakeAPoll}}
      {{create-options-text
        options=options
        addOption='addOption'
        deleteOption='deleteOption'
        submit='submit'
      }}
    {{else}}
      {{create-options-dates
        options=options
        submit='submit'
      }}
    {{/if}}

    <div class="row">
      <div class="col-xs-6 col-md-4 text-right">
        {{bs-button
          action='back'
          classNames='back'
          defaultText=(t 'action.back')
        }}
      </div>
      <div class="col-xs-6 col-md-8">
        {{bs-button
          buttonType='submit'
          defaultText=(t 'action.next')
          type='primary'
        }}
      </div>
    </div>
  {{/bs-form}}
</div>
