<h2>
  {{t "poll.evaluation.label"}}
</h2>

<p class="participants">
  {{t "poll.evaluation.participants" count=evaluationParticipants}}
</p>

<p class="best-options">
  {{#if poll.isFindADate}}
    {{t "poll.evaluation.bestOption.label.findADate" count=evaluationBestOptions.length}}
  {{else}}
    {{t "poll.evaluation.bestOption.label.makeAPoll" count=evaluationBestOptions.length}}
  {{/if}}

  {{#if evaluationBestOptionsMultiple}}
    <ul>
      {{#each evaluationBestOptions as |evaluationBestOption|}}
        {{component 'poll-evaluation-summary-option' evaluationBestOption=evaluationBestOption isFindADate=poll.isFindADate tagName='li'}}
      {{/each}}
    </ul>
  {{else}}
    {{component 'poll-evaluation-summary-option' evaluationBestOption=evaluationBestOptions.firstObject isFindADate=poll.isFindADate tagName='span'}}
  {{/if}}
</p>

<p class="last-participation">
  {{t "poll.evaluation.lastParticipation" ago=(moment-from-now evaluationLastParticipation)}}
</p>
