<EmberTable
  class="participants-table"
  data-test-table-of="participants" as |t|
>
  <t.head
    @columns={{this.columns}}
    @enableReorder={{false}}
    @enableResize={{false}} as |h|
  >
    <h.row as |r|>
      <r.cell as |column|>
        {{#if column.momentFormat}}
          {{moment-format column.name column.momentFormat}}
        {{else}}
          {{column.name}}
        {{/if}}
      </r.cell>
    </h.row>
  </t.head>

  <t.body @rows={{this.usersSorted}} as |b|>
    <b.row
      data-test-participant={{b.rowValue.id}} as |r|
    >
      <r.cell
        data-test-value-for={{if r.columnValue.isAnswerCell r.columnValue.name "name"}}
        data-test-is-selection-cell={{r.columnValue.isAnswerCell}} as |cellValue columnValue rowValue|
      >
        {{#if columnValue.isAnswerCell}}
          {{#let
            (object-at columnValue.index (get rowValue "selections"))
          as |selection|
          }}
            {{#if this.isFreeText}}
              {{selection.label}}
            {{else}}
              {{#if selection.type}}
                <span class={{selection.type}}>
                  <span class={{selection.icon}}></span>
                  {{t selection.labelTranslation}}
                </span>
              {{/if}}
            {{/if}}
          {{/let}}
        {{else}}
          {{cellValue}}
        {{/if}}
      </r.cell>
    </b.row>
  </t.body>
</EmberTable>