{{! @glint-nocheck: not typesafe yet }}
<div class="cr-form-wrapper box">
  <BsForm
    @formLayout="horizontal"
    @model={{this.formData}}
    @onInvalid={{(scroll-first-invalid-element-into-view-port)}}
    @onSubmit={{this.handleSubmit}}
    novalidate
    as |form|
  >
    {{#if @isMakeAPoll}}
      <CreateOptionsText
        @options={{this.formData.options}}
        @addOption={{this.formData.addOption}}
        @deleteOption={{this.formData.deleteOption}}
        @formElement={{form.element}}
      />
    {{else}}
      <CreateOptionsDates
        @options={{this.formData.options}}
        @updateOptions={{this.formData.updateOptions}}
        @form={{form}}
      />
    {{/if}}

    <div class="row cr-steps-bottom-nav">
      <div class="col-6 col-md-8 order-12">
        <NextButton />
      </div>
      <div class="col-6 col-md-4 order-1 text-right">
        <BackButton @onClick={{action "previousPage"}} />
      </div>
    </div>
  </BsForm>
</div>