<h1>Create a poll</h1>

<form {{on "submit" this.createPoll.perform}}>
  {{#let (unique-id) as |inputId|}}
    <div class="mb-3">
      <label class="form-label" for={{inputId}}>
        Title
      </label>
      <input
        class="form-control"
        id={{inputId}}
        name="title"
        type="text"
        required
      />
    </div>
  {{/let}}

  {{#let (unique-id) as |textareaId|}}
    <div class="mb-3">
      <label class="form-label" for={{textareaId}}>
        Description
      </label>
      <textarea
        class="form-control"
        id={{textareaId}}
        name="description"
      ></textarea>
    </div>
  {{/let}}

  {{#let (unique-id) as |inputId|}}
    <div class="mb-3">
      <label class="form-label" for={{inputId}}>
        Add a date
      </label>
      <input
        class="form-control"
        id={{inputId}}
        name="add-date"
        required={{if this.dates.size false true}}
        type="datetime-local"
        {{on "change" this.addDate}}
      />
    </div>
  {{/let}}

  <ol>
    {{#each this.sortedDates as |date|}}
      <li>
        {{date}}
        <button type="button" {{on "click" (fn this.removeDate date)}}>
          <span title="delete">
            🗙
          </span>
        </button>
      </li>
    {{/each}}
  </ol>

  <button
    class="btn btn-primary"
    disabled={{this.createPoll.isRunning}}
    type="submit"
  >
    {{#if this.createPoll.isRunning}}
      Creating
      <span
        class="spinner-border spinner-border-sm"
        role="status"
        aria-hidden="true"
      ></span>
    {{else}}
      Create
    {{/if}}
  </button>
</form>