{{! @glint-nocheck: not typesafe yet }}
<PowerCalendarMultiple
  @center={{@center}}
  @selected={{@selectedDays}}
  @onCenterChange={{@onCenterChange}}
  @onSelect={{@onSelect}}
  as |calendar|
>
  <nav class="ember-power-calendar-nav">
    <button
      type="button"
      class="ember-power-calendar-nav-control"
      onclick={{action calendar.actions.moveCenter -1 "month"}}
    >
      «
    </button>
    <div class="ember-power-calendar-nav-title">
      {{format-date calendar.center month="long" year="numeric"}}
    </div>
    <button
      type="button"
      class="ember-power-calendar-nav-control"
      onclick={{action calendar.actions.moveCenter 1 "month"}}
    >
      »
    </button>
  </nav>

  <calendar.Days />
</PowerCalendarMultiple>