{{#if label}}
  <label for="{{forAttribute}}" class="{{labelClass}}">{{{label}}}</label>
{{/if}}

<div class={{fieldWrapperClass}}>
  {{#if isBasicInput}}
    {{fm-input
      type=type
      value=value
      classNameBindings='errorClass inputClass'
      placeholder=placeholder
      onUserInteraction='userInteraction'
    }}
  {{/if}}

  {{#if isSelect}}
    {{fm-select
    content=content
    optionValuePath=optionValuePath
    optionLabelPath=optionLabelPath
    prompt=prompt
    value=value
    }}
  {{/if}}

  {{#if isTextarea}}
    {{fm-textarea
      value=value
      classNameBindings='errorClass textareaClass'
      placeholder=placeholder
      rows=rows
      cols=cols
      maxlengh=maxlengh
      spellcheck=spellcheck
      disabled=disabled
    }}
  {{/if}}

  {{#if errors}}
    {{#if shouldShowErrors}}
      {{fm-errortext errors=errors}}
    {{/if}}
  {{/if}}

  {{#if helptext}}
    {{fm-helptext helptext=helptext}}
  {{/if}}
</div>
