<label>
  <input type='radio'
    name={{parentView.name}}
    value={{value}}
    checked={{checked}}>
  <span class={{value}}>
    <span class={{content.icon}}></span>
    {{labelText}}
    {{isSelected}}
  </span>
</label>
