<label>
  <input type='radio'
    name={{parentView.name}}
    value={{get content optionValuePath}}
    checked={{checked}}>
  <span class={{get content optionValuePath}}>
    <span class={{content.icon}}></span>
    {{get content optionLabelPath}}
    {{isSelected}}
  </span>
</label>
