{{#let @model as |poll|}}
  {{#if this.isEvaluable}}
    <PollEvaluationSummary
      @momentLongDayFormat={{this.momentLongDayFormat}}
      @poll={{poll}}
      @timezone={{this.timezone}}
    />
  {{/if}}

  <h3>{{t "poll.evaluation.participantTable"}}</h3>
  <PollEvaluationParticipantsTable
    @momentLongDayFormat={{this.momentLongDayFormat}}
    @poll={{poll}}
    @timezone={{this.timezone}}
  />
{{/let}}