{{#if isEvaluable}}
  {{poll-evaluation-summary poll=model dates=dates sortedUsers=sortedUsers}}

  <h3>{{t 'poll.evaluation.overview'}}</h3>
  {{poll-evaluation-chart
    answerType=model.answerType
    options=(if model.isFindADate dates model.options)
    users=model.users
  }}
{{/if}}

<h3>{{t 'poll.evaluation.participantTable'}}</h3>
{{poll-evaluation-participants-table
  dateGroups=dateGroups
  hasTimes=hasTimes
  isFindADate=model.isFindADate
  isFreeText=model.isFreeText
  options=(if model.isFindADate dates model.options)
  sortedUsers=sortedUsers
}}
