{{#if isEvaluable}}
  <PollEvaluationSummary
    @momentLongDayFormat={{momentLongDayFormat}}
    @poll={{poll}}
    @timezone={{timezone}}
  />

  <h3>{{t "poll.evaluation.overview"}}</h3>
  <PollEvaluationChart
    @momentLongDayFormat={{momentLongDayFormat}}
    @poll={{poll}}
    @timezone={{timezone}}
  />
{{/if}}

<h3>{{t "poll.evaluation.participantTable"}}</h3>
<PollEvaluationParticipantsTable
  @momentLongDayFormat={{momentLongDayFormat}}
  @poll={{poll}}
  @timezone={{timezone}}
/>
