<div class="participation">
  {{#fm-form
    action='submit'
    class='form-horizontal'
  }}
    {{fm-field
      value=name
      type='text'
      label=(t "poll.input.newUserName.label")
      placeholder=(t "poll.input.newUserName.placeholder")
      errors=validations.attrs.name.messages
    }}

    <div class="selections">
      {{#each selection in selections}}
        {{#if isFreeText}}
          {{fm-field
            value=selection.value
            label=selection.label
            errors=selection.validations.attrs.value.messages
          }}
        {{else}}
          {{fm-radio-group
            value=selection.value
            label=selection.label
            content=possibleAnswers
            optionIconPath='content.icon'
            optionLabelPath='content.label'
            optionValuePath='content.type'
            errors=selection.validations.attrs.value.messages
          }}
        {{/if}}
      {{/each}}
    </div>

    <div class="col-sm-offset-4 col-sm-8">
      {{fm-submit
        value=(t "poll.save")
      }}
    </div>
  {{/fm-form}}
</div>
