<div class="participation">
  {{#bs-form
    action='submit'
    formLayout='horizontal'
    model=this
    novalidate='true'
  }}
    {{bs-form-element
      controlType='text'
      label=(t 'poll.input.newUserName.label')
      placeholder=(t 'poll.input.newUserName.placeholder')
      property='name'
      classNames='name'
    }}
    <div class="selections">
      {{#each selections as |selection index|}}
        {{#if isFreeText}}
          {{bs-form-element
            controlType='text'
            label=selection.label
            model=selection
            property='value'
          }}
        {{else}}
          {{#bs-form-element
            label=selection.label
            model=selection
            property='value'
            useIcons=false
            as |value id|
          }}
            {{#each possibleAnswers as |possibleAnswer|}}
              <div class="radio {{possibleAnswer.type}}">
                <label>
                  {{radio-button
                    value=possibleAnswer.type
                    checked=value
                  }}
                  <span class={{possibleAnswer.icon}} aria-hidden="true"></span>
                  {{possibleAnswer.label}}
                </label>
              </div>
            {{/each}}
          {{/bs-form-element}}
        {{/if}}
      {{/each}}
    </div>

    {{#bs-form-element}}
      {{bs-button
        defaultText=(t 'create.next')
        type="primary"
        buttonType="submit"
      }}
    {{/bs-form-element}}
  {{/bs-form}}
</div>
