<div class="participation">
  {{#bs-form
    onSubmit=(action "submit")
    formLayout="horizontal"
    model=this
    novalidate=true
  as |form|
  }}
    {{form.element
      autofocus=true
      controlType="text"
      label=(t "poll.input.newUserName.label")
      placeholder=(t "poll.input.newUserName.placeholder")
      property="name"
      classNames="name"
    }}
    <div class="selections">
      {{#each selections as |selection|}}
        {{#if isFreeText}}
          {{form.element
            controlType="text"
            label=(if isFindADate
              (moment-format
                selection.labelValue
                (if (eq selection.momentFormat "day") momentLongDayFormat selection.momentFormat)
                locale=currentLocale
                timeZone=timezone
              )
              selection.labelValue
            )
            model=selection
            property="value"
          }}
        {{else}}
          {{#form.element
            label=(if isFindADate
              (moment-format
                selection.labelValue
                (if (eq selection.momentFormat "day") momentLongDayFormat selection.momentFormat)
                locale=currentLocale
                timeZone=timezone
              )
              selection.labelValue
            )
            model=selection
            property="value"
            showValidationOn="change"
            useIcons=false
          as |el|
          }}
            {{#each possibleAnswers as |possibleAnswer|}}
              <div class="radio {{possibleAnswer.type}}">
                <label>
                  <input
                    type="radio"
                    value={{possibleAnswer.type}}
                    checked={{eq possibleAnswer.type el.value}}
                    onchange={{action (mut el.value) possibleAnswer.type}}
                  >
                  <span class={{possibleAnswer.icon}} aria-hidden="true"></span>
                  {{possibleAnswer.label}}
                </label>
              </div>
            {{/each}}
          {{/form.element}}
        {{/if}}
      {{/each}}
    </div>

    {{form-navigation-buttons
      renderPrevButton=false
    }}
  {{/bs-form}}
</div>

{{#bs-modal
  open=savingFailed
  title=(t "modal.save-retry.title")
  body=false
  footer=false
  closeButton=false
  autoClose=false
  id="modal-saving-failed"
as |modal|
}}
  {{#modal.body}}
    <p>{{t "modal.save-retry.text"}}</p>
  {{/modal.body}}
  {{#modal.footer}}
    {{bs-button
      defaultText=(t "modal.save-retry.button-retry")
      type="primary"
      onClick=(action "save")
    }}
  {{/modal.footer}}
{{/bs-modal}}
