<div class="participation">
  {{#fm-form
    action='submit'
  }}
    {{fm-field
      value=name
      type='text'
      label=(t "poll.input.newUserName.label")
      placeholder=(t "poll.input.newUserName.placeholder")
      errors=validations.attrs.name.messages
      inputWrapperClass='col-sm-8'
      labelClass='col-sm-4 control-label'
    }}

    <div class="selections">
      {{#each selections as |selection|}}
        {{#if isFreeText}}
          {{fm-field
            value=selection.value
            label=selection.label
            errors=selection.validations.attrs.value.messages
            inputWrapperClass='col-sm-8'
            labelClass='col-sm-4 control-label'
          }}
        {{else}}
          {{fm-radio-group
            value=selection.value
            label=selection.label
            content=possibleAnswers
            optionIconPath='content.icon'
            optionLabelPath='label'
            optionValuePath='type'
            errors=selection.validations.attrs.value.messages
            inputWrapperClass='col-sm-8'
            labelClass='col-sm-4 control-label'
          }}
        {{/if}}
      {{/each}}
    </div>

    {{#fm-submit inputWrapperClass='col-sm-8 col-sm-offset-4'}}
      {{t "poll.save"}}
    {{/fm-submit}}
  {{/fm-form}}
</div>
