<div class="participation cr-form-wrapper">
  {{#bs-form
    onInvalid=(scroll-first-invalid-element-into-view-port)
    onSubmit=(action "submit")
    formLayout="horizontal"
    model=this
    novalidate=true
  as |form|
  }}
    {{form.element
      autofocus=true
      controlType="text"
      label=(t "poll.input.newUserName.label")
      placeholder=(t "poll.input.newUserName.placeholder")
      property="name"
      classNames="name"
    }}
    <div class="selections">
      {{#each selections as |selection index|}}
        {{#if isFreeText}}
          {{form.element
            controlType="text"
            label=(if isFindADate
              (moment-format
                selection.labelValue
                (if (eq selection.momentFormat "day") momentLongDayFormat selection.momentFormat)
                locale=currentLocale
                timeZone=timezone
              )
              selection.labelValue
            )
            model=selection
            property="value"
          }}
        {{else}}
          {{#form.element
            label=(if isFindADate
              (moment-format
                selection.labelValue
                (if (eq selection.momentFormat "day") momentLongDayFormat selection.momentFormat)
                locale=currentLocale
                timeZone=timezone
              )
              selection.labelValue
            )
            model=selection
            property="value"
            showValidationOn="change"
            useIcons=false
          as |el|
          }}
            {{#each possibleAnswers as |possibleAnswer|}}
              <div class="radio custom-control custom-radio custom-control-inline {{possibleAnswer.type}}">
                <input
                  class="custom-control-input"
                  type="radio"
                  value={{possibleAnswer.type}}
                  checked={{eq possibleAnswer.type el.value}}
                  onchange={{action (mut el.value) possibleAnswer.type}}
                  id={{concat possibleAnswer.type index}}
                  name={{concat possibleAnswer.type index}}
                >
                <label class="custom-control-label" for={{concat possibleAnswer.type index}}>
                  {{possibleAnswer.label}}
                </label>
              </div>
            {{/each}}
          {{/form.element}}
        {{/if}}
      {{/each}}
    </div>

    <div class="row cr-steps-bottom-nav">
      <div class="col-md-8 offset-md-4">
        <NextButton @isPending={{form.isSubmitting}} data-test-button="submit">
          {{t "action.save"}}
        </NextButton>
      </div>
    </div>
  {{/bs-form}}
</div>

<BsModal
  @id="modal-saving-failed-modal"
  @onHidden={{action (mut savingFailed) false}}
  @onSubmit={{action "save"}}
  @open={{savingFailed}}
  as |modal|
>
  <modal.header
    @closeButton={{false}}
    @title={{t "modal.save-retry.title"}}
  />
  <modal.body>
    <p>{{t "modal.save-retry.text"}}</p>
  </modal.body>
  <modal.footer>
    <BsButton
      @onClick={{action modal.close}}
    >
      {{t "action.abort"}}
    </BsButton>
    <BsButton
      @type="primary"
      @onClick={{action modal.submit}}
      data-test-button="retry"
    >
      {{t "modal.save-retry.button-retry"}}
    </BsButton>
  </modal.footer>
</BsModal>