<div class="participation">
  {{#bs-form
    action='submit'
    formLayout='horizontal'
    model=this
    novalidate=true
  }}
    {{bs-form-element
      autofocus=true
      controlType='text'
      label=(t 'poll.input.newUserName.label')
      placeholder=(t 'poll.input.newUserName.placeholder')
      property='name'
      classNames='name'
    }}
    <div class="selections">
      {{#each selections as |selection index|}}
        {{#if isFreeText}}
          {{bs-form-element
            controlType='text'
            label=selection.label
            model=selection
            property='value'
          }}
        {{else}}
          {{#bs-form-element
            label=selection.label
            model=selection
            property='value'
            showValidationOn='change'
            useIcons=false
            as |value id|
          }}
            {{#each possibleAnswers as |possibleAnswer|}}
              <div class="radio {{possibleAnswer.type}}">
                <label>
                  {{radio-button
                    value=possibleAnswer.type
                    checked=value
                  }}
                  <span class={{possibleAnswer.icon}} aria-hidden="true"></span>
                  {{possibleAnswer.label}}
                </label>
              </div>
            {{/each}}
          {{/bs-form-element}}
        {{/if}}
      {{/each}}
    </div>

    {{form-navigation-buttons
      renderPrevButton=false
    }}
  {{/bs-form}}
</div>

{{#bs-modal
  open=savingFailed
  title=(t 'modal.save-retry.title')
  body=false
  footer=false
  closeButton=false
  autoClose=false
  id='modal-saving-failed'
}}
  {{#bs-modal-body}}
    <p>{{t "modal.save-retry.text"}}</p>
  {{/bs-modal-body}}
  {{#bs-modal-footer}}
    {{bs-button
      defaultText=(t 'modal.save-retry.button-retry')
      type='primary'
      action='save'
    }}
  {{/bs-modal-footer}}
{{/bs-modal}}
