<div class="cr-form-wrapper box">
  {{#bs-form
    formLayout="horizontal"
    model=this
    novalidate=true
    onInvalid=(scroll-first-invalid-element-into-view-port)
    onSubmit=(action "submit")
  as |form|
  }}
    {{#form.element
      classNames="poll-type"
      label=(t "create.index.input.pollType.label")
      property="pollType"
      showValidationOn=(array "change" "focusOut")
      useIcons=false
    as |el|
    }}
      {{#autofocusable-element
        tagName="select"
        change=(action (mut el.value) value="target.value")
        id=el.id
        class="form-control"
      }}
        <option value="FindADate" selected={{eq el.value "FindADate"}}>
          {{t "pollTypes.findADate.label"}}
        </option>
        <option value="MakeAPoll" selected={{eq el.value "MakeAPoll"}}>
          {{t "pollTypes.makeAPoll.label"}}
        </option>
      {{/autofocusable-element}}
    {{/form.element}}

    <div class="row cr-steps-bottom-nav">
      <div class="col-6 col-md-8 order-12">
        <NextButton />
      </div>
      <div class="col-6 col-md-4 order-1 text-right">
        <BackButton @disabled={{true}} />
      </div>
    </div>
  {{/bs-form}}
</div>
