<div class="box">
  {{#if model.isMakeAPoll}}

    {{#fm-form
      action='submit'
      isValid=validations.isValid
    }}
      {{fm-input-group
        content=optionsTexts
        label=(t 'create.options.options.label')
        errors=validations.attrs.optionsTexts.messages
        minimumInputFields=2
        elementObject=optionsTextsObject
      }}
      {{#fm-submit
        fieldWrapperClass='col-sm-10 col-sm-offset-2'
      }}
        {{t 'create.next'}}
      {{/fm-submit}}
    {{/fm-form}}

  {{else}}

    {{#fm-form
      action='submit'
      isValid=validations.isValid
    }}
      <div class="form-group">
        <label class="col-sm-2 control-label">
          Tage
        </label>

        <div class="col-sm-10">
          <div id="datepicker">
            {{bootstrap-datepicker-inline
              value=optionsBootstrapDatepicker
              multidate=true
              calendarWeeks=true
              todayHighlight=true
              language=language.selected
            }}
          </div>

          {{#if showDatepickerErrors}}
            {{#if validations.attrs.optionsBootstrapDatepicker.message}}
              {{validations.attrs.optionsBootstrapDatepicker.message}}
            {{/if}}
          {{/if}}
        </div>
      </div>

      {{fm-checkbox
        checked=model.isDateTime
        label=(t 'create.options.defineTimes.label')
        fieldWrapperClass='col-sm-10 col-sm-offset-2'
      }}

      {{#fm-submit
        fieldWrapperClass='col-sm-10 col-sm-offset-2'
      }}
        {{t 'create.next'}}
      {{/fm-submit}}
    {{/fm-form}}
  {{/if}}
</div>
