<div class="box">
  <form role="form">
    <table class="table">
      <tbody>
        {{#each datetime in datetimes}}
          <tr>
            <td>
              {{formattedDate datetime.contents.title 'll'}}
            </td>
            {{#each time in datetime.contents.times}}
              <td>
                <div class="form-group">
                  {{input value=time.value type="time" class="form-control" step="900"}}
                </div>
              </td>
            {{/each}}
          </tr>
        {{/each}}
      </tbody>
    </table>

    <p class="help-text">
      Hours and minutes have to be seperated by a color (e.g. 12:30).
      You have to enter atleast one valid time for each date.
    </p>

    <div class="form-group">
      <button {{action "moreTimes"}} class="btn btn-default"> more inputs for time </button>
    </div>

    <div class="form-group">
      <button {{action "copyFirstLine"}} class="btn btn-default"> copy first line </button>
    </div>
    
    <div class="form-group">
      <button {{action "submitDatetimes"}} class="btn btn-default" {{bind-attr disabled=isNotValid}}> next </button>
    </div>
  </form>
</div>