<div class="box">
  {{#if isMakeAPoll}}
    {{#form-for controller}}
      {{#input enoughOptions}}
        {{label-field enoughOptions}}
        {{#each option in options}}
          {{#input option.title}}
            {{input-field option.title}}
          {{/input}}
        {{/each}}
        {{#if view.showError}}
          {{error-field enoughOptions}}
        {{/if}}
      {{/input}}
      <div class="form-group">
        <button {{action "moreOptions" target="view"}} class="btn btn-default"> add another option </button>
      </div>
      {{submit 'next'}}
    {{/form-for}}
  {{/if}}

  {{#if isFindADate}}
    <div id="datepicker">
      {{view 'datepicker'}}
    </div>
      
    {{#form-for controller}}
      {{#input enoughOptions}}
        {{#if view.showError}}
          {{error-field enoughOptions}}
        {{/if}}
      {{/input}}
      {{input isDateTime as='checkbox'
          label="Define times?"
      }}
      {{submit 'next'}}
    {{/form-for}}
  {{/if}}
</div>