<div class="box">
  {{#if model.isMakeAPoll}}

    {{#form-wrapper}}
      
      {{#input enoughOptions}}
        {{label-field enoughOptions
            textTranslation="create.options.options.label"
        }}
        {{#each optionText in optionsTexts}}
          {{#input optionText.value}}
            {{input-field optionText.value}}
          {{/input}}
        {{/each}}
        {{#if view.showError}}
          {{error-field enoughOptions}}
        {{/if}}
      {{/input}}
    {{/form-wrapper}}
 
    <button {{action "moreOptions" target="view"}} class="btn btn-default button-more-options"> {{t 'create.options.input.moreOptions.label'}} </button>

    <button {{action "submit"}} class="btn btn-default btn-primary button-next"> {{t 'create.next'}} </button>

  {{else}}
    
    <div id="datepicker">
      {{bootstrap-datepicker-inline
          value=optionsBootstrapDatepicker
          multidate=true
          calendarWeeks=true
          todayHighlight=true
          language=language.selected}}
    </div>
      
    {{#form-wrapper}}
      {{#input enoughOptions}}
        {{#if view.showError}}
          {{error-field enoughOptions}}
        {{/if}}
      {{/input}}
      
      {{input model.isDateTime as='checkbox'
         labelTranslation="create.options.defineTimes.label"
      }}
    {{/form-wrapper}}
    
    <button {{action "submit"}} class="btn btn-default btn-primary button-next"> {{t 'create.next'}} </button>

  {{/if}}
</div>
