<div class="box">
  {{#if isMakeAPoll}}
    <form role="form">
      <div class="form-group">
        <label class="control-label">{{t "create.options.label"}}</label>
        <fieldset>
          {{#each option in options}}
            {{#form-for option}}
              {{input option.title label=" "}}<br/>
            {{/form-for}}
          {{/each}}
          <p class="help-text">You have to enter at least two options.</p>
        </fieldset>
      </div>
      <div class="form-group">
        <button {{action "moreOptions" target="view"}} class="btn btn-default"> add another option </button>
        <button {{action "submit"}} class="btn btn-default" {{bind-attr disabled=isNotValid}}> next </button>
      </div>
    </form>
  {{/if}}

  {{#if isFindADate}}
    <div id="datepicker">
      {{view 'datepicker'}}
      <p class="help-text">You have to select at least two dates."</p>
      
      {{#form-for controller}}
        {{input isDateTime as='checkbox'
            label="Define times?"
        }}
        {{submit 'next'}}
      {{/form-for}}
    </div>
  {{/if}}
</div>