<div class="box">
  {{#form-for controller}}
    {{#input enoughTimes}}
      {{label-field enoughTimes
          textTranslation="create.options-datetime.datetimes.label"
      }}
      <table class="table">
        <tbody>
          {{#each datetime in datetimes}}
            <tr>
              <td>
                {{formattedDate datetime.contents.title 'll'}}
              </td>
              {{#each time in datetime.contents.times}}
                <td>
                  {{#input time.value}}
                    {{input-field time.value as='time'
                        step='900'
                    }}
                  {{/input}}
                </td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{hint-field enoughTimes
          text="Hours and minutes have to be seperated by a color (e.g. 12:30). You have to enter atleast one valid time for each date."
      }}
      {{error-field enoughTimes}}
    {{/input}}

    <div class="form-group">
      <button {{action "moreTimes"}} class="btn btn-default">{{t "create.options-datetime.more-inputs"}}</button>
    </div>

    <div class="form-group">
      <button {{action "copyFirstLine"}} class="btn btn-default">{{t "create.options-datetime.copy-first-line"}}</button>
    </div>
    
    {{submit 'next'}}
  {{/form-for}}
</div>