<div class="box">
  {{#form-for controller}}
    {{#input enoughTimes}}
      {{label-field enoughTimes
          textTranslation="create.options-datetime.datetimes.label"
      }}
      <table class="table">
        <tbody>
          {{#each datetime in datetimes}}
            <tr>
              <td>
                {{formattedDate datetime.contents.title 'll'}}
              </td>
              {{#each time in datetime.contents.times}}
                <td>
                  {{#input time.value}}
                    {{input-field time.value as='time'
                        step='900'
                    }}
                  {{/input}}
                </td>
              {{/each}}
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{hint-field enoughTimes
          textTranslation="create.options-datetime.datetimes.hint"
      }}
      {{error-field enoughTimes}}
    {{/input}}
  {{/form-for}}

  <button {{action "moreTimes"}} class="btn btn-default">{{t "create.options-datetime.more-inputs"}}</button>

  <button {{action "copyFirstLine"}} class="btn btn-default">{{t "create.options-datetime.copy-first-line"}}</button>

  <button {{action "submit"}} class="btn btn-default btn-primary"> {{t 'create.next'}} </button>
</div>