<div class="box">
  {{#if isMakeAPoll}}

    {{#form-for controller}}
      
      {{#input enoughOptions}}
        {{label-field enoughOptions
            textTranslation="create.options.options.label"
        }}
        {{#each option in options}}
          {{#input option.title}}
            {{input-field option.title}}
          {{/input}}
        {{/each}}
        {{#if view.showError}}
          {{error-field enoughOptions}}
        {{/if}}
      {{/input}}
    {{/form-for}}
 
    <div class="form-group">
      <button {{action "moreOptions" target="view"}} class="btn btn-default"> {{t 'create.options.input.moreOptions.label'}} </button>
    </div>
    
    {{#form-for controller}}
      {{submit 'next'}}
    {{/form-for}}

  {{/if}}

  {{#if isFindADate}}
    
    <div id="datepicker">
      {{view 'datepicker'}}
    </div>
      
    {{#form-for controller}}
      {{#input enoughOptions}}
        {{#if view.showError}}
          {{error-field enoughOptions}}
        {{/if}}
      {{/input}}
      {{input isDateTime as='checkbox'
          labelTranslation="create.options.defineTimes.label"
      }}
      {{submit 'next'}}
    {{/form-for}}
    
  {{/if}}
</div>