<div class="box">
  {{#bs-form
    formLayout="horizontal"
    model=this
    novalidate=true
    onSubmit=(action 'submit')
    as |form|
  }}
    {{#form.element
      classNames='answer-type'
      label=(t 'create.settings.answerType.label')
      property="answerType"
      showValidationOn=(array 'change' 'focusOut')
      useIcons=false
      as |el|
    }}
      {{simple-select
        autofocus=true
        id=el.id
        content=answerTypes
        optionLabelPath="label"
        optionValuePath="id"
        value=el.value
        action=(action (mut el.value) value='id')
      }}
    {{/form.element}}
    {{#form.element
      classNames='expiration-duration'
      label=(t 'create.settings.expirationDate.label')
      property='expirationDuration'
      showValidationOn=(array 'change' 'focusOut')
      useIcons=false
      as |el|
    }}
      {{simple-select
        id=el.id
        content=expirationDurations
        optionLabelPath='label'
        optionValuePath='id'
        value=el.value
        action=(action (mut el.value) value='id')
      }}
    {{/form.element}}
    {{form.element
      classNames='anonymous-user'
      controlType='checkbox'
      label=(t 'create.settings.anonymousUser.label')
      showValidationOn='change'
      value=anonymousUser
    }}
    {{form.element
      classNames='force-answer'
      controlType='checkbox'
      label=(t 'create.settings.forceAnswer.label')
      showValidationOn='change'
      value=forceAnswer
    }}
    {{form-navigation-buttons
      nextButtonText=(t 'action.save')
      onPrev=(route-action 'previousPage')
    }}
  {{/bs-form}}
</div>
