<div class="cr-form-wrapper box">
  {{#bs-form
    formLayout="horizontal"
    model=this
    novalidate=true
    onSubmit=(action "submit")
  as |form|
  }}
    {{#form.element
      classNames="answer-type"
      label=(t "create.settings.answerType.label")
      property="answerType"
      showValidationOn=(array "change" "focusOut")
      useIcons=false
    as |el|
    }}
      {{#autofocusable-element
        tagName="select"
        change=(action "updateAnswerType" value="target.value")
        id=el.id
        class="custom-select"
      }}
        {{#each answerTypes as |answerType|}}
          <option value={{answerType.id}} selected={{eq el.value answerType.id}}>
            {{t answerType.labelTranslation}}
          </option>
        {{/each}}
      {{/autofocusable-element}}
    {{/form.element}}
    {{#form.element
      classNames="expiration-duration"
      label=(t "create.settings.expirationDate.label")
      property="expirationDuration"
      showValidationOn=(array "change" "focusOut")
      useIcons=false
      controlType="select"
    as |el|
    }}
      <select
        id={{el.id}}
        onchange={{action (mut el.value) value="target.value"}}
        class="custom-select"
      >
        {{#each expirationDurations as |duration|}}
          <option value={{duration.id}} selected={{eq el.value duration.id}}>
            {{t duration.labelTranslation}}
          </option>
        {{/each}}
      </select>
    {{/form.element}}
    {{form.element
      classNames="anonymous-user"
      controlType="checkbox"
      label=(t "create.settings.anonymousUser.label")
      showValidationOn="change"
      property="anonymousUser"
    }}
    {{form.element
      classNames="force-answer"
      controlType="checkbox"
      label=(t "create.settings.forceAnswer.label")
      showValidationOn="change"
      property="forceAnswer"
    }}
    {{form-navigation-buttons
      nextButtonText=(t "action.save")
      onPrev=(action "previousPage")
    }}
  {{/bs-form}}
</div>
