<div class="box">
  {{#bs-form
    formLayout="horizontal"
    model=this
    novalidate=true
    action="submit"
  }}
    {{#bs-form-element
      classNames='answer-type'
      label=(t 'create.settings.answerType.label')
      property="answerType"
      showValidationOn=(array 'change' 'focusOut')
      useIcons=false
      as |value id|
    }}
      {{simple-select
        autofocus=true
        id=id
        content=answerTypes
        optionLabelPath="label"
        optionValuePath="id"
        value=value
        action=(action (mut value) value='id')
      }}
    {{/bs-form-element}}
    {{#bs-form-element
      classNames='expiration-duration'
      label=(t 'create.settings.expirationDate.label')
      property='expirationDuration'
      showValidationOn=(array 'change' 'focusOut')
      useIcons=false
      as |value id|
    }}
      {{simple-select
        id=id
        content=expirationDurations
        optionLabelPath='label'
        optionValuePath='id'
        value=value
        action=(action (mut value) value='id')
      }}
    {{/bs-form-element}}
    {{bs-form-element
      classNames='anonymous-user'
      controlType='checkbox'
      label=(t 'create.settings.anonymousUser.label')
      showValidationOn='change'
      value=anonymousUser
    }}
    {{bs-form-element
      classNames='force-answer'
      controlType='checkbox'
      label=(t 'create.settings.forceAnswer.label')
      showValidationOn='change'
      value=forceAnswer
    }}
    <div class="row">
      <div class="col-md-4 text-right">
        {{bs-button
          action='back'
          defaultText=(t 'action.back')
          classNames='back'
        }}
      </div>
      <div class="col-md-8">
        {{bs-button
          defaultText=(t 'action.save')
          type="primary"
          buttonType="submit"
        }}
      </div>
    </div>
  {{/bs-form}}
</div>
