<div class="cr-form-wrapper box">
  <BsForm
    @formLayout="horizontal"
    @model={{this}}
    @novalidate={{true}}
    @onInvalid={{scroll-first-invalid-element-into-view-port }}
    @onSubmit={{action "submit"}}
    as |form|
  >
    <form.element
      @label={{t "create.settings.answerType.label"}}
      @property="answerType"
      @showValidationOn={{array "change" "focusOut"}}
      @useIcons={{false}}
      class="answer-type"
      as |el|
    >
      <AutofocusableElement
        @tagName="select"
        @change={{action "updateAnswerType" value="target.value"}}
        id={{el.id}}
        class="custom-select"
      >
        {{#each answerTypes as |answerType|}}
          <option value={{answerType.id}} selected={{eq el.value answerType.id}}>
            {{t answerType.labelTranslation}}
          </option>
        {{/each}}
      </AutofocusableElement>
    </form.element>
    <form.element
      @controlType="select"
      @label={{t "create.settings.expirationDate.label"}}
      @property="expirationDuration"
      @showValidationOn={{array "change" "focusOut"}}
      @useIcons={{false}}
      class="expiration-duration"
      as |el|
    >
      <select
        id={{el.id}}
        onchange={{action (mut el.value) value="target.value"}}
        class="custom-select"
      >
        {{#each expirationDurations as |duration|}}
          <option value={{duration.id}} selected={{eq el.value duration.id}}>
            {{t duration.labelTranslation}}
          </option>
        {{/each}}
      </select>
    </form.element>
    <form.element
      @controlType="checkbox"
      @label={{t "create.settings.anonymousUser.label"}}
      @showValidationOn="change"
      @property="anonymousUser"
      class="anonymous-user"
    />
    <form.element
      @controlType="checkbox"
      @label={{t "create.settings.forceAnswer.label"}}
      @showValidationOn="change"
      @property="forceAnswer"
      class="force-answer"
    />

    <div class="row cr-steps-bottom-nav">
      <div class="col-6 col-md-8 order-12">
        <SaveButton @isPending={{form.isSubmitting}} data-test-button="submit" />
      </div>
      <div class="col-6 col-md-4 order-1 text-right">
        <BackButton @onClick={{action "previousPage"}} />
      </div>
    </div>
  </BsForm>
</div>
