<div class="box">
  {{#form-wrapper}}
    {{input answerType as='select'
      collection="answerTypes"
      value="answerType"
      optionValuePath="content.id"
      optionLabelPath="content.label"
      labelTranslation="create.settings.answerType.label"
    }}
    {{input anonymousUser as='checkbox'
      labelTranslation="create.settings.anonymousUser.label"
    }}
    {{input forceAnswer as='checkbox'
      labelTranslation="create.settings.forceAnswer.label"
    }}
  {{/form-wrapper}}

  <button {{action "submit"}} class="btn btn-default btn-primary button-next"> {{t 'create.next'}} </button>
</div>
