{{head-layout}}

{{title "Croodle"}}

<div class="container">
  <div id="header">
    <h1 class="logo">{{#link-to "index"}}Croodle{{/link-to}}</h1>
    <form class="form-inline">
      {{language-select class="form-control"}}
    </form>
  </div>
  <div id="content">
    <div id="messages">
      {{#each flashMessages.queue as |flash|}}
        {{#flash-message flash=flash}}
          {{t flash.message}}
        {{/flash-message}}
      {{/each}}
    </div>

    {{outlet}}
  </div>
</div>

{{outlet "modal"}}
