<div class="index">

    <div class="box teaser">
        <h2>
            {{t "index.title"}}
        </h2>
    </div>

    <div class="row">
        <div class="col-md-6">

            <div class="box features">
                <h3>{{t "index.features.title"}}</h3>
                <ul>
                    <li>
                        {{t "index.features.list.overview"}}
                    </li>
                    <li>
                        {{t "index.features.list.privacy"}}
                    </li>
                    <li>
                        {{t "index.features.list.options"}}
                    </li>
                    <li>
                        {{t "index.features.list.answers"}}
                    </li>
                    <li>
                        {{t "index.features.list.evaluation"}}
                    </li>
                </ul>

                <p class="have-a-try">
                    <span class="glyphicon glyphicon-share-alt"></span>
                    {{#link-to 'create'}}{{t "index.link.have-a-try"}}{{/link-to}}
                </p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="box features">
                <h3>{{t "index.hoster.title"}}</h3>
                <p>
                    {{t "index.hoster.text"}}
                </p>
            </div>
        </div>
    </div>
</div>