<div class="index cr-screen-index">

  <div class="jumbotron">
    <h2 class="cr-claim">
      {{t "index.title"}}
    </h2>
    <LinkTo @route="create" class="btn btn-primary btn-lg">
      {{t "index.link.have-a-try"}}
    </LinkTo>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h3>{{t "index.features.title"}}</h3>
      <ul>
        <li>
          {{t "index.features.list.overview"}}
        </li>
        <li>
          {{t "index.features.list.options"}}
        </li>
        <li>
          {{t "index.features.list.answers"}}
        </li>
        <li>
          {{t "index.features.list.evaluation"}}
        </li>
        <li>
          {{t "index.features.list.privacy"}}
        </li>
      </ul>
    </div>

    <div class="col-lg-5 offset-lg-1">
      <h3>{{t "index.hoster.title"}}</h3>
      <p>
        {{t "index.hoster.text" gitHubLink=(mark-as-safe-html "<a href=\"https://github.com/jelhan/croodle\">GitHub</a>")}}
      </p>
    </div>
  </div>
</div>
