<div id="poll">
  <div class="row">
    <div class="col-sm-6 col-lg-5">
      <div class="box meta-data">
        <h2 class="title">{{model.title}}</h2>
        <p class="description">{{model.description}}</p>
        <p class="creationDate">{{t "poll.created-time" creationDateBinding="view.creationDateFormatted"}}</p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-5 col-lg-offset-2">
      <div class="box share-link">
        <p>{{t "poll.share"}}</p>
        <p class="link"><a {{bind-attr href=pollUrl}}>{{pollUrl}}</a></p>
        <p class="notice">
            {{t "poll.share.notice"}}
        </p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="table-scroll">
      <table class="user-selections-table table table-striped table-condensed">
        <thead>
          {{#if model.isDateTime}}
            <tr class="dateGroups">
              <th>&nbsp;</th>
              {{#each dateGroup in dateGroups}}
                <th {{bind-attr colspan="dateGroup.colspan"}}>
                  {{formattedDate dateGroup.value}}
                </th>
              {{/each}}
              <th>&nbsp;</th>
            </tr>
          {{/if}}
          <tr>
            <th>&nbsp;</th>
            {{#if model.isFindADate}}
              {{#each date in dates}}
                <th>
                  {{#if model.isDateTime}}
                    {{formattedDate date.title format="LT" times=true}}
                  {{else}}
                    {{formattedDate date.title}}
                  {{/if}}
                </th>
              {{/each}}
            {{else}}
              {{#each option in model.options}}
                <th>
                  {{option.title}}
                </th>
              {{/each}}
            {{/if}}

            <th>&nbsp;</th>
          </tr>
        </thead>

        <tbody>
          <tr class='newUser'>
            <td>
              {{#form-wrapper}}
                {{#input newUserName}}
                  {{input-field newUserName
                      placeholderTranslation="poll.input.newUserName.placeholder"
                  }}
                  {{#if view.showError}}
                    {{error-field newUserName}}
                  {{/if}}
                {{/input}}
              {{/form-wrapper}}
            </td>
            {{#each newUserSelection in newUserSelections}}
              <td class="newUserSelection">
                {{#form-wrapper}}
                  {{#if model.isFreeText}}
                    {{#input newUserSelection.value}}
                      {{input-field newUserSelection.value}}
                    {{/input}}
                  {{else}}
                    {{#each answer in model.answers}}
                      <div class="radio">
                        {{#radio-button value=answer groupValue=newUserSelection.value}}
                          <span {{bind-attr class="answer.id"}}>
                            <span {{bind-attr class="answer.icon"}}></span>
                            {{answer.label}}
                          </span>
                        {{/radio-button}}
                      </div>
                    {{/each}}
                  {{/if}}
                {{/form-wrapper}}
              </td>
            {{/each}}
            <td>
              <button {{action "submitNewUser"}} class="btn btn-default btn-primary">
                {{t "poll.save"}}
              </button>
              <span style="white-space: normal;">
                {{#input everyOptionIsAnswered}}
                  {{#if view.showError}}
                    {{error-field everyOptionIsAnswered}}
                  {{/if}}
                {{/input}}
              </span>
            </td>
          </tr>

          {{#each user in model.users}}
            <tr class="user">
              <td>{{user.name}}</td>
              {{#each selection in user.selections}}
                <td>
                  {{#if model.isFreeText}}
                    {{selection.value}}
                  {{else}}
                    <span {{bind-attr class="selection.value.id"}}>
                        <span {{bind-attr class="selection.value.icon"}}></span>
                        {{selection.value.label}}
                    </span>
                  {{/if}}
                </td>
              {{/each}}
              <td>&nbsp;</td>
            </tr>
          {{/each}}

          {{#unless model.isFreeText}}
            <tr class='evaluation evaluation-header'>
              <td {{bind-attr colspan=fullRowColspan}}>
                  {{t "poll.evaluation.label"}}
                  <button {{action "switchEvaluationVisibility" target="view"}} class="btn btn-default">
                    {{view.showEvaluationLabel}}
                  </button>
              </td>
            </tr>

            {{#if view.showEvaluation}}
              {{#each answer in evaluation}}
                <tr class='evaluation'>
                  <td>
                    {{answer.label}}
                  </td>

                  {{#each option in answer.options}}
                    <td>
                      {{option}}
                    </td>
                  {{/each}}

                  <td>&nbsp;</td>
                </tr>
              {{/each}}
            {{/if}}
          {{/unless}}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="timezoneDiffers">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">
          {{t "poll.modal.timezoneDiffers.title"}}
        </h4>
      </div>
      <div class="modal-body">
        <p>
          {{t "poll.modal.timezoneDiffers.body"}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" {{action "useLocalTimezone" target="view"}}>
          {{t "poll.modal.timezoneDiffers.button.useLocalTimezone"}}
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          {{t "poll.modal.timezoneDiffers.button.usePollTimezone"}}
        </button>
      </div>
    </div>
  </div>
</div>
