<div id="poll">
  <div class="row">
    <div class="col-sm-6 col-lg-5">
      <div class="box meta-data">
        <h2 class="title">{{model.title}}</h2>
        <p class="description">{{model.description}}</p>
        <p class="creationDate">{{t "poll.created-time" creationDateBinding="view.creationDateFormatted"}}</p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-5 col-lg-offset-2">
      <div class="box share-link">
        <p>{{t "poll.share"}}</p>
        <p class="link"><a href="{{pollUrl}}">{{pollUrl}}</a></p>
        <p class="notice">
            {{t "poll.share.notice"}}
        </p>
      </div>
    </div>
  </div>

  <div class="box container-fluid">
    <ul class="nav nav-tabs" role="tablist">
      {{#link-to "poll.participation" model tagName='li' activeClass='active' class='participation'}}
        {{#link-to "poll.participation" model}}
          participation
        {{/link-to}}
      {{/link-to}}
      {{#link-to "poll.evaluation" model tagName='li' activeClass='active' class='evaluation'}}
        {{#link-to "poll.evaluation" model}}
          evaluation
        {{/link-to}}
      {{/link-to}}
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        {{outlet}}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="timezoneDiffers">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">
          {{t "poll.modal.timezoneDiffers.title"}}
        </h4>
      </div>
      <div class="modal-body">
        <p>
          {{t "poll.modal.timezoneDiffers.body"}}
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" {{action "useLocalTimezone" target="view"}} class="use-local-timezone">
          {{t "poll.modal.timezoneDiffers.button.useLocalTimezone"}}
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" class="use-poll-timezone">
          {{t "poll.modal.timezoneDiffers.button.usePollTimezone"}}
        </button>
      </div>
    </div>
  </div>
</div>
