<div id="poll">
  <div class="row">
    <div class="col-sm-6 col-lg-5">
      <div class="box meta-data">
        <h2 class="title">{{model.title}}</h2>
        <p class="description">{{model.description}}</p>
        <p class="creationDate">{{t "poll.created-time" creationDate=(moment-format model.creationDate)}}</p>
      </div>
    </div>
    <div class="col-sm-6 col-lg-5 col-lg-offset-2">
      <div class="box poll-link">
        <p>{{t "poll.share"}}</p>
        <p class="link"><a href="{{pollUrl}}">{{pollUrl}}</a></p>
        <p class="notice">
            {{t "poll.share.notice"}}
        </p>
      </div>
    </div>
  </div>

  <div class="box container-fluid">
    <ul class="nav nav-tabs" role="tablist">
      {{#link-to "poll.participation" model tagName='li' activeClass='active' class='participation'}}
        {{#link-to "poll.participation" model}}
          {{t 'poll.tab-title.participation'}}
        {{/link-to}}
      {{/link-to}}
      {{#link-to "poll.evaluation" model tagName='li' activeClass='active' class='evaluation'}}
        {{#link-to "poll.evaluation" model}}
          {{t 'poll.tab-title.evaluation'}}
        {{/link-to}}
      {{/link-to}}
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        {{outlet}}
      </div>
    </div>
  </div>
</div>

{{#bs-modal
  title=(t "poll.modal.timezoneDiffers.title")
  open=mustChooseTimezone
  footer=false
  closeButton=false
  keyboard=false
  autoClose=false
}}
  {{#bs-modal-body classNames='modal-body-choose-timezone'}}
    <p>
      {{t "poll.modal.timezoneDiffers.body"}}
    </p>
  {{/bs-modal-body}}
  {{#bs-modal-footer as |footer|}}
    {{#bs-button action=(action "useLocalTimezone") class="use-local-timezone"}}
      {{t "poll.modal.timezoneDiffers.button.useLocalTimezone"}}
    {{/bs-button}}
    {{#bs-button action=(action (mut timezoneChoosen) true) classNames="use-poll-timezone"}}
      {{t "poll.modal.timezoneDiffers.button.usePollTimezone"}}
    {{/bs-button}}
  {{/bs-modal-footer}}
{{/bs-modal}}
