{{#unless view.isCheckbox}}
  {{label-field propertyBinding="view.property" textBinding="view.label"}}
{{/unless}}
<div {{bind-attr class=view.divWrapperClass}}>
  {{#unless view.isCheckbox}}
    {{input-field propertyBinding='view.property' inputOptionsBinding='view.inputOptionsValues'}}
  {{/unless}}
  {{#if view.isCheckbox}}
    <label>
      {{input-field propertyBinding='view.property' inputOptionsBinding='view.inputOptionsValues'}}
      {{view.label}}
    </label>
  {{/if}}
  {{#if view.hint}}
    {{hint-field propertyBinding="view.property" textBinding="view.hint"}}
  {{/if}}
  {{#if view.showError}}
    {{error-field propertyBinding="view.property"}}
  {{/if}}
</div>